.navbar-nav {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.nav-item {

	>.nav-link {
		margin: 1rem;
		font-weight: bolder;
		font-size: 1.2rem;
	}

	&.active>.nav-link {
		display: none;
	}
}

.userWarning {
	height: 1.5rem;
	width: 100%;
}

.userAlert {
	font-size: 1.15rem;
	text-align: center;
	margin: auto;
	font-style: italic;
	color: #ffb100;
	background-color: #f8f9fa;
}

#param-menu {
	margin-left: auto;


	&>.dropdown-menu {
		right: 0;
		left: auto;
		padding: 0;
		overflow: hidden;

		&>* {
			padding: 0.8rem 1rem;

			&:hover {
				cursor: pointer;
			}
		}
	}

	&.show>button {
		transform: scale(1.05);
		transition: transform 100ms;
	}

	&>button {
		transition: transform 100ms;

		&:hover {
			transform: scale(1.05);
			transition: transform 100ms;
		}

		&:focus {
			box-shadow: none;
		}
	}
}