.navbar {
	@media only screen and (max-width: 600px) {
		padding: 0;
		justify-content: space-between;
		flex-wrap: nowrap;
	}
}

.navbar-nav {
	display: flex;
	flex-direction: row;
	height: 100%;
	flex-wrap:wrap;
}

.nav-item {
	>.nav-link {
		padding: 1rem;
		font-weight: bolder;
		font-size: 1.2rem;
	}

	&.active>.nav-link {
		display: none;
	}

}

.userWarning {
	height: 1.5rem;
	width: 100%;
}

.userAlert {
	font-size: 1.15rem;
	text-align: center;
	margin: auto;
	padding: 0 1em;
	font-style: italic;
	font-weight: bold;
	color: #ffb100;
	background-color: #f8f9fa;
	width: 100%;

	// @media only screen and (max-width: 600px) {
	// 	position: fixed;
	// 	bottom: 62px;
	// }
}

#param-menu {

	@media only screen and (max-width: 600px) {
		display: none;
	}

	margin-left: auto;

	&>.dropdown-menu {
		right: 0;
		left: auto;
		padding: 0;
		overflow: hidden;

		&>* {
			padding: 0.8rem 1rem;

			&:hover {
				cursor: pointer;
			}
		}
	}

	&.show>button {
		transform: scale(1.05);
		transition: transform 100ms;
	}

	&>button {
		transition: transform 100ms;

		&:hover {
			transform: scale(1.05);
			transition: transform 100ms;
		}

		&:focus {
			box-shadow: none;
		}
	}
}

#mobile-param-menu {
	@media only screen and (min-width: 601px) {
		display: none;
	}

	&>button {
		transition: transform 100ms;
		display: flex;
		justify-content: end;
		align-items: center;
		flex-wrap: wrap;
		padding: 0;

		&:hover {
			transform: scale(1.05);
			transition: transform 100ms;
		}

		&:focus {
			box-shadow: none;
		}
	}

	&>.mobile-menu {
		z-index: 1;
		display: none;
		color: white;
		font-size: 1.5rem;
		position: absolute;
		bottom: 62px;
		right: 1px;
		height: auto;
		width: auto;
		background-color: #000000;
		padding: 0;
		overflow: hidden;
		border-radius: 3%;
	}

	&.show>.mobile-menu {
		display: flex;
		flex-direction: column;
	}
}

.mobile-menu-item {
	padding: 0.3em;
	color: white;
	text-decoration: none;

	&:hover {
		background-color: #252525;
		cursor: pointer;
	}
}