<div class='container' *ngIf='book'>
	<div class='row' name='book__header'>
		<h2 class='col-12'>{{ book.title }}</h2>
		<span class='col-12'>par {{ book.author }}</span>
	</div>
	<div class='row' name='book__synopsis'>
		<p class='font-italic m-2 col-12'>{{ book.synopsis }}</p>
	</div>
	<div class='row' name='book__photo' id='book__photo'>
		<img *ngIf='book.photo'
			[src]='book.photo' 
			alt='Image de couverture du livre'>
	</div>
	<div class='row buttons-line'>
		<button type='button' class='btn btn-secondary m-2' (click)='onBack()'>Retour</button>
		<button type='button' class='btn btn-danger m-2' (click)='onDeleteBook()'>Supprimer</button>
	</div>
</div>