.bookslist-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem;
}

.list-group-item-heading {
    display: inline-block;
}

.btn {
    font-size: 1.2rem;
    font-weight: bold;
    padding:0.2em 0.5em 0.4em 0.5em;
}

h2 {
    display: inline-block;
}

// svg {
//     vertical-align: middle;
// }