p {
    margin: 1rem;
    font-size: 1.3rem;
}

button {
    margin: 1rem;
}

@media only screen and (max-width: 600px) {
    .buttons-line {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    button {
        font-size: 1.3em;
    } 
}