form {
	margin: 1rem;
	font-size: 1.5rem;
}

h2 {
	font-size: 2.5rem;
}

button{
	font-size: 1.3rem;
	padding: 0.1em 0.5em;
	:disabled {
		background-color: grey;
		border-color: grey;
	}
}

.info {
	margin-top: 1em;
	font-style: italic;
}

.userMail {
	margin: 1.5em 0em 1em 0em;
}

.form-control{
	max-width: 30em;
	&.ng-dirty {
		&.ng-valid {
			border-color: green;

			&:focus {
				box-shadow: 0 0 0 .2rem #3cdc3c40;
			}
		}
		&.ng-invalid {
			border-color: #dc3c3c40;

			&:focus {
				box-shadow: 0 0 0 .2rem #dc3c3c40;
			}
		}
	}
}