<div class='container'>
	<div class='row'>
		<div class='col'>
            <p class="info">Un lien permettant la réinitialisation de votre mot de passe sera envoyé à l'adresse email liée à votre compte utilisateur.</p>
            <form [formGroup]='resetPasswordForm' (ngSubmit)='onMailSubmit()'>
                <div class='form-group'  *ngIf="! isAuth; else elseBlock">
                    <label for='email'>Adresse mail de connexion</label>
                    <input
                        type='text'
                        id='email'
                        class='form-control'
                        formControlName='email'
                    >
                </div>
                <ng-template #elseBlock>
                    <div class="userMail">{{mail}}</div>
                </ng-template>
                <button class='btn btn-primary' [disabled]='resetPasswordForm.invalid && ! isAuth'>Envoyer le lien</button>
            </form>
        </div>
    </div>
</div>