<div class='container'>
	<div class='row'>
		<div class='col'>
			<h2>Connexion</h2>
			<form [formGroup]='signInForm' (ngSubmit)='onSubmit()'>
				<div class='form-group'>
					<label for='email'>Adresse mail</label>
					<input 
						type='text' 
						id='email' 
						class='form-control' 
						formControlName='email' 
					>
				</div>
				<div class='form-group'>
					<label for='password'>Mot de passe</label>
					<input type='password' id='password' class='form-control' formControlName='password'>
				</div>
				<button class='btn btn-primary' [disabled]='signInForm.invalid'>Valider</button>
				<a routerLink='/auth/resetPassword'>Mot de passe oublié</a>
			</form>
		</div>
	</div>
</div>
