form {
	margin: 1rem;
	font-size: 1.5rem;
}

h2 {
	font-size: 2.5rem;
}

button{
	font-size: 1.3rem;
	:disabled {
		background-color: grey;
		border-color: grey;
	}
}


.form-control{
	max-width: 30em;
	&.ng-dirty {
		&.ng-valid {
			border-color: green;

			&:focus {
				box-shadow: 0 0 0 .2rem #3cdc3c40;
			}
		}
		&.ng-invalid {
			border-color: #dc3c3c40;

			&:focus {
				box-shadow: 0 0 0 .2rem #dc3c3c40;
			}
		}
	}
}