.col {
	max-width: 30rem;
	margin: 0 auto;
}

form {
	margin: 1rem;
	font-size: 1.5rem;
}

h2 {
	font-size: 2.5rem;
}

button{
	font-size: 1.3rem;
	padding: 0.1em 0.5em;
	:disabled {
		background-color: grey;
		border-color: grey;
	}
}

.form-control{
	&.ng-dirty {
		&.ng-valid {
			border-color: green;

			&:focus {
				box-shadow: 0 0 0 .2rem #3cdc3c40;
			}
		}
		&.ng-invalid {
			border-color: #dc3c3c40;

			&:focus {
				box-shadow: 0 0 0 .2rem #dc3c3c40;
			}
		}
	}
}

.form-links {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.resetLink {
	color: black;
	font-size: 1rem;
	font-style: italic;
	margin-top: 13px;
}